/*====================================*/
/*           Slider Styling           */
/*====================================*/

.ui-tooltip {
  font-size: 15px!important;
  border-radius: 0px!important;
  box-shadow: none!important;
  white-space: pre-line;
}
.ui-slider-handle{
  width: 15px!important;
  margin-left: -7.5px!important;
  height: 20px!important;
  background: #000!important;
  border: none!important;
  border-radius: 0px!important;
  transition: box-shadow 0.25s ease-in!important;
  cursor: ew-resize!important;
}
.ui-state-hover {
  border: none!important;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1)!important;
}
.ui-widget-header {
  border: none!important;
  background: rgba(0, 0, 0, 0.05)!important;
  border-radius: 0px!important;
}



/*====================================*/
/*              General               */
/*====================================*/

@font-face { font-family: Gidole; src: url(fonts/Gidole-Regular.otf); }

*{ font-family: 'Gidole'; padding: 0; margin: 0; }

a {
  color: #000;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
  transition: padding-bottom 0.1s ease-in-out, color 0.1s ease-in-out;
}
a:hover { color: #1ad445; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #1ad445; }



/*====================================*/
/*               Header               */
/*====================================*/

header { height: 100px; margin-bottom: 20px; }

.logo { height: inherit; margin-left: 15px; }

nav {
  position: absolute;
  vertical-align: middle;
  text-align: right;
  top: 40px;
  right: 20px;
}

nav a { margin-right: 20px; }

.search {
  height: 30px;
  text-align: center;
  width: 200px;
  border: none;
  border-bottom: 2px solid #000;
  outline: 0;
  font-size: 16px;
}

/*====================================*/
/*            Media player            */
/*====================================*/

.visualizerContainer {overflow: hidden; margin-left: 8px; }

.mediaName {
  white-space: nowrap;
  cursor: text;
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  height: 35px;
  margin: 10px 0 20px 0;
}

.mediaTimelineOuter {
  width:100%;
  height:7px;
  margin-top: 10px;
  background-color:rgba(0, 0, 0, 0.05);
  cursor: pointer;
  position: relative;
}
.mediaTimelineInner {
  background-color:#000;
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
}

/*.mediaCurrentTime {
  font-size: 16px;
  top: 90px;
  left: 7px;
}
.mediaTotalTime {
  font-size: 16px;
  top: 90px;
  right: 7px;
}*/

/*.mediaVolume {
  width: 244px;
  height: 10px;
  margin: 10px auto 5px auto;
  background: #d9d9d9;
  border-radius: 0px;
  border: none;
  cursor: pointer;
}*/

/*====================================*/
/*           Album Listing            */
/*====================================*/

#Albums { display: table; margin: 0 auto; text-align: center; }
#Albums article { display: inline-table; width: 300px; }
#Albums article>div { display: table; margin: 0 auto; }

.coverButton { display: table-cell; }

.coverImg { display: inline-block; width: 150px; position: absolute; border-radius: 150px; }
.playBtn {
  padding: 0;
  width: 150px;
  height: 150px;
  border: 0;
  background-color: rgba(0,0,0,0);
  outline: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.playBtn:hover{ opacity: 0.4; }

.playBtnON { opacity: 0.75!important; }

.arrowCenter{ display: table-cell; height: inherit; vertical-align: middle; }
.arrow { height: 75px; }
.arrowHover {
  position: absolute;
  height: 79px;
  margin-top: -2px;
  opacity: 0;
  cursor: pointer;
  transition: 0.1s opacity ease-in-out;
}
.arrowCenter:hover .arrowHover { opacity: 1; }


.songList li { cursor: pointer; }
