@page { margin: 0; body { margin: 1.6cm; } }

/* fixes for things unsupported by mozilla (mainly the zoom property) */
@-moz-document url-prefix() {
  img.ppIcon {
	-moz-transform: scale(2.5);
	margin: 31px 0 0 13px;
  }
  
  div.presentationText {
	-moz-transform: scale(0.75);
	margin-top: -30px;
  }
  
  div#timeline {
	-moz-transform: scale(0.5);
	margin-top: -5px;
  }
  
  table#formationTable {
	-moz-transform: scale(0.4);
	margin-top: -80px;
  }
}

* { margin: 0; padding: 0; -webkit-print-color-adjust: exact; -moz-print-color-adjust: exact;  }

body {
  font-family: 'Product Sans', Arial, sans-serif;
  background-color: #f1f1f1;
  color: #555;
  text-align: center;
}

h2 { font-size: 16px; color: #482728; margin: 15px 0; }
h3 { font-size: 14px; font-weight: normal; margin: 10px 0; }

p { text-align: justify; font-size: 18px; width: 50%; margin: 0 auto 15px auto; }

/* TOP */
.top { display: none; }
/* END TOP */


/* MAIN */
.pageDiv { display: none; }

.image_bg {
  display: inline-block;
  height: 125px;
  width: 100%;
  background: #483737 url('img/image_bg.png') repeat-x left top;
  background-size: contain;
}

.profilePic {
  width: 62.5px;
  height: 62.5px;
  margin: 31.25px auto 0 auto;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
}
.ppIcon {
  display: block;
  height: 119px;
  margin: -24px 0 0 -11px;
  padding-top: 3px;
  zoom: 250%;
}

.presentationText { width: 100%; zoom: 75%; }


.part { width: 100%; min-height: 15vh; display: inline-block; }
#parcourScolaire { background-color: #DED7D7; }
#formations { background-color: #CBBDBD; }
#projets { background-color: #B7A3A3; }
#interets { background-color: #A48989; }


/********************/
/* PARCOURSSCOLAIRE */
/********************/

#parcourScolaire { height: 14vh; }

#timeline:before {
  content: attr(data-firstDate);
  position: absolute;
  left: 0;
  top: 40%;
  font-size: 15px;
  color: #b7a3a3;
  font-weight: bold;
}
#timeline:after {
  content: attr(data-lastDate);
  position: absolute;
  right: 0;
  top: 40%;
  font-size: 15px;
  color: #b7a3a3;
  font-weight: bold;
}
#timeline {
  position: relative;
  display: table;
  width: 70%;
  height: 50px;
  margin: 6.5vh 0 0 10%;
  zoom: 50%;
}

.pinsTop, .pinsBottom {
  position: relative;
  display: table;
  width: calc(100% - 2px);
  height: 40px;
  text-align: left;
}
.pin {
  display: inline-block;
  position: absolute;
  height: inherit;
  min-width: 140px;
  width: 7vw;
  text-align: left;
}
.pin span {
  display: inline-block;
  height: inherit;
  position: absolute;
  overflow: hidden;
  font-size: 14px;
}
.pinsTop span { bottom: 5px; }
.pinsBottom span { top: 5px; }

.pin:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: inherit;
  margin-right: 5px;
  background-color: #eee;
}
.pinsTop .pin:after {
  content: attr(data-date);
  position: absolute;
  top: -30px;
  border-bottom: 1px solid #482728;
}
.pinsBottom .pin:after {
  content: attr(data-date);
  position: absolute;
  bottom: -30px;
  border-top: 1px solid #482728;
}

.timelineBar {
  display: table-row;
  width: 100%;
  height: 10px;
  font-size: 0;
  background-color: #eee;
}

/************************/
/* END PARCOURSSCOLAIRE */
/************************/

/**************/
/* FORMATIONS */
/**************/

#formations { height: 14vh; }

#formationTable, #formationTable tr {
  width: 40%;
  height: 25px;
  border-collapse: collapse;
  margin: 0 auto;
  zoom: 50%;
}

#formationTable th {
  border-bottom: 1px dotted #482728;
  font-size: 20px;
  text-align: left;
  color: #482728;
}
#formationTable tr>*:first-child {
  width: 25%;
}
#formationTable td:first-child {
  text-align: center;
}

.formationBar {
  background-color: #eee;
  height: 19px;
  line-height: 19px;
  font-size: 28.5px;
  color: #cbbdbd;
}

/******************/
/* END FORMATIONS */
/******************/

/***********/
/* PROJETS */
/***********/

#projectsList {
	display: table;
	width: 100%;
    border-spacing: 10px 5px;
}
.projectsColumn {
	display: table-cell;
	width: 50%;
}
.projectsColumn h3 { margin-top: 0!important; }

.projectsRow {
	display: inline-block; /*table-row;*/
}

.projectsLinks {
    width: 200px;
    height: 7.5vh;
    background-color: #fff;
	position: relative;
    display: table-cell;
	overflow: hidden;
}
.projectsLinks>a {
	display: block;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.projectsLinks>a:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgba(20,20,20,0.75), rgba(20,20,20,0) 75%);
	opacity: 1;
	transition: opacity 0.15s linear;
}
.projectsLinks span {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	margin: 0 0 15px 15px;
	width: 50%;
	font-size: 1vh;
	text-align: left;
	color: #fff;
	opacity: 1;
	transition: opacity 0.15s linear;
}

/* PROJECT IMAGES */
.DVR { background: url('img/DVR.png') no-repeat; }
.Puzzle { background: url('img/puzzle.png') no-repeat; }
.ListeNiveau { background: url('img/levelList.png') no-repeat; }
.CreateurNiveau { background: url('img/editor.png') no-repeat; }
.XML { background: url('img/SD.png') no-repeat; }
.Wiki { background: url('img/wiik.png') no-repeat; }
/*.Bug { background: url('img/bug.png') no-repeat; }*/
/*.Seprote { background: url('img/seprote.png') no-repeat; }*/
.ECV { background: url('img/CV.png') no-repeat; }


.image { width: 100%; height: 100%; background-size: cover; background-position: center; transition: transform 0.5s; }
.projectsLinks:hover .image { transform:scale(1.1) }

/***************/
/* END PROJET */
/***************/

#interets { height: 14vh; }

#interetsSquares {
  display: table;
  width: 100%;
  height: 197px!important
}

#interetsSquares>div {
  display: table-cell;
  background-color: #482728;
}

.interetsWrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.interetsHover {
  position: absolute;
  display: table;
  width: inherit;
  height: inherit;
  top: 0%;
  transition: top 0.3s ease-out;
}

.interetsHoverText {
  display: table-cell;
  width: inherit;
  height: inherit;
  left: 0;
  text-align: center;
  font-size: 7vw;
  vertical-align: middle;
  color: rgba(255,255,255,0.6);
  font-weight: bold;
  cursor: default;
  user-select: none;
}

.gifMusique { background: url('img/musique.gif') no-repeat; }
.gifGameDesign { background: url('img/gamedesignstill.png') no-repeat; }
.gifUnity { background: url('img/unity2.gif') no-repeat; }
.gifMusique, .gifGameDesign, .gifUnity { width: inherit; height: inherit; background-size: cover; background-position: center; }