#transitionMap { display: block; margin: 0 auto; image-rendering: pixelated; }

#chapterInfo { display: block; width: 80%; height: 1000px; background-color: #ddd; border: 1px solid #333; margin: 40px auto 30px auto;  }

.name {
    display: block;
    
    width: 32vw;
    height: 4vw;
    margin: 20px auto 30px auto;
    
    background-image: url('../ressources/UI/NameBG.png');
    background-size: 100%;
    
    font-family: 'pixel';
    font-size: 1.5vw;
    font-smooth: never;
    -webkit-font-smoothing : none;
    color: #fff;
    text-shadow:
      #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
      #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
      #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
      #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    text-align: center;
    line-height: 4.75vw;
    text-transform:capitalize;
}

.chapterImg { display: block; margin: 0 auto; }

#description { height: 100px; margin-top: 50px; padding: 0 10%; }

#description div { display: none; }
